.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 24px;
}

.card {
    background: var(--lonetrail-grey);
    padding: 20px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 18px;
    font-size: 40px;
    font-family: var(--header-font);
    color: var(--lonetrail-white);
}

.user {
    display: flex;
    align-items: center;
}

.avatar {
    width: 200px;
    height: 200px;
    padding: 20px;
    padding-right: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    justify-content: space-around;
}

.info h1 {
    margin: 0;
    font-size: 40px;
    font-family: var(--header-font);
    color: var(--lonetrail-white);
}

.info p {
    margin: 0;
    font-family: var(--header-font);
    color: var(--lonetrail-white);
}

.button {
    width: fit-content;
    padding: 0;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    background: none;
    color: var(--lonetrail-teal);
    font-family: var(--header-font);
}

.button:hover {
    color: var(--lonetrail-white);
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--header-font);
}

.table thead {
    background: var(--lonetrail-orange-glow);
}

.table th {
    padding: 14px;
    text-align: left;
    font-size: 14px;
    color: var(--lonetrail-yellow);
    background: var(--lonetrail-grey);
    border-bottom: 1px solid var(--lonetrail-white);
}

.table td {
    padding: 14px;
    color: var(--lonetrail-white);
    border-bottom: 1px solid var(--lonetrail-white);
}

.table tbody tr:hover {
    background: var(--lonetrail-orange);
}

@media (max-width: 768px) {
    .user {
        flex-direction: column;
        align-items: flex-start;
    }

    .avatar {
        width: 80px;
        height: 80px;
    }

    .table {
        display: block;
        overflow-x: auto;
    }
}